{
    admin off
}

:80 {
    handle /root.crt {
        root * /data/caddy/pki/authorities/local
        file_server
    }
    handle {
        reverse_proxy 127.0.0.1:9090 {
            flush_interval -1
        }
    }
}

agydash, agydash.tail42f05a.ts.net, nixos, nixos.tail42f05a.ts.net, 100.109.108.22, localhost, 127.0.0.1, :443 {
    tls internal
    handle /root.crt {
        root * /data/caddy/pki/authorities/local
        file_server
    }
    handle {
        reverse_proxy 127.0.0.1:9090 {
            flush_interval -1
        }
    }
}
